<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Bills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>My Billing Details</h1>

    <div class="nav">
        <a href="/dashboard">Dashboard</a>
        <a href="/my_appointments">My Appointments</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="bill-box">

        {% if bills %}

        <table class="bill-table">

            <tr>
                <th>Appointment ID</th>
                <th>Doctor Fee</th>
                <th>Medicine Fee</th>
                <th>Room Fee</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for bill, appointment in bills %}

            <tr>
                <td>{{ bill.appointment_id }}</td>
                <td>{{ bill.doctor_fee }}</td>
                <td>{{ bill.medicine_fee }}</td>
                <td>{{ bill.room_fee }}</td>
                <td>{{ bill.total_amount }}</td>

                <td>
                    {% if bill.payment_status == "Paid" %}
                        <span class="paid">Paid</span>
                    {% else %}
                        <span class="unpaid">Unpaid</span>
                    {% endif %}
                </td>
                <td>
                    {% if bill.payment_status != "Paid" %}
                    <form method="POST" action="/pay_bill/{{ bill.id }}" 
                    onsubmit="return confirm('Are you sure you want to pay this bill?\n\nTotal Amount: ₹{{ bill.total_amount }}')">
                    <button type="submit">Pay Now</button>
                    </form>
                    {% else %}
                    ✔ Completed
                    {% endif %}
                    </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <!-- EMPTY STATE -->
        <p style="text-align:center; color:#a78bfa; margin-top:20px;">
            No bills found yet. Please book an appointment.
        </p>
        {% endif %}
    </div>
</div>
</body>
</html>